@{
    ViewData["Title"] = "Home Page";
}
@model RestaurantViewModel

<div id="favouriteContainer">
    <table id="favsTable" class="table table-striped table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>RestarauntId</th>
                <th>Rating</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


