@{
    ViewData["Title"] = "Home Page";
}
@model RestaurantViewModel

<div  id="recordContainer">

    <div class="col-sm-6">
        <form id="Guid">
            <input type="hidden" id="idguid" name="idguid">
        </form>
    </div>
    <div class="col-sm-6">
        <form id="favGuid">
            <input type="hidden" id="favidguid" name="favidguid">
        </form>
    </div>
</div>


